#game_board {
	border: 1px solid black;
	box-shadow: 10px 10px 5px #888;
	background: #e8e8e8;
	display: none;
}

body {
	text-align: center;
	background: transparent;
}

html {
    background: 
        repeating-linear-gradient(40deg, transparent, transparent 20px, #fff 20px, #999 40px),
        linear-gradient( to bottom, #fff, #999);
    height: 100%;
}

h1 {
    text-shadow: 2px 2px #f00;
}

#player {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#container {
	border: 1px solid black;
	box-shadow: 10px 10px 5px #888;
	background: #fff;
	height: 502px;
	width: 502px;
	position: relative;
	text-align: center;
	left:50%;
    margin-left:-250px; /* -1/2 width */
}